   

.content{
    border:1px solid;
    padding: 0 25px;
    display: flex;
    text-align:center;
    height:90px;
    align-items: center;
    justify-content: center;
    //   flex:1 1 auto;
    flex-direction: column;
    .title {
        font-size: 22px;
        margin-bottom:0px;
        font-weight: bold;
        color: #4a4a4a;

    }
}
.container{
    min-width:30%;
    height:240px;
    flex:1 1 auto;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid;
    margin:0 10px 15px;
    &:first-child{
        margin-left:10px;
    }
    &:last-child{
        margin-right:10px;
    }
}